body  {
  background-color: #ffffff;
  width: 960px;
}

h1 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #ffffff;
  padding: 15px 14px 14px 14px;
  margin-left: 110px;
  margin-top: 0;
  margin-right: 0px;
  margin-bottom: 0px;
  float: left;
  background-color: #4aaaa5;
}

h2 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
  margin-top: 20;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-width: 1px;
  border-color: #777777; 
  padding-bottom: 20px;
}

h3 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
  font-size: 14px;
  margin-left: 20px;
  margin-top : 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-width: 1px;
  border-color: #777777;
  padding-bottom: 20px;
}

#header {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
  text-decoration: none;
  float: left;
  background-color: #ffffff;
  height: 65px;
  width: 960px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-width: 2px;
  border-color: #cccccc;
}

ul {
    list-style-type: none;
    margin-top: 15px;
    margin-right: 100px;
    overflow: hidden;
    background-color: #ffffff;
    width: 435px;
    float: right;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

li {
    float: right;
   
}
li:nth-child(2) {
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  border-width: 1px;
  border-color: #ababab;
}

li a {
    display: inline;
    color: #777777;
    text-align: right;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

li a:hover {
    background-color: #4aaaa5;
}

.left {
   float: left;
   padding-top: 0px;
   padding-right: 15px;
   padding-bottom: 5px;
   padding-left: 20px;
   background-color: #ffffff;
  }

#left {
    height: 530px;
    width: 460px;
    text-align: left;
    margin-top: 30px;
    margin-left: 110px;
    float: left;
    background-color: #ffffff;
 }

 div > p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
 }

#port-left {
    height: 602px;
    width: 465px;
    text-align: left;
    margin-top: 30px;
    margin-left: 110px;
    background-color: #ffffff;
    float: left;
  }

form {
  width; 200px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  float: left;
  padding-left: 20px;
}

input[type=submit] {
  background-color: #4aaaa5;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding-left: 20px;
  padding-top: 7px;
  padding-right: 20px;
  padding-bottom: 7px;
  border: none;
}

input[type=submit]:hover {
    background-color: #777777;
}

input[type=text]  {
  width: 405px;
}

  #base {
    background-image: url(concrete_seamless.png);
    width: 100%;
    height: 650px;
    padding-top: 50px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-width: 2px;
    border-color: #cccccc;
  }

projects {
  position: relative;
  width: 460px;
}

.project-names p {
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 12px;
  background-color: #4aaaa5;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  width: 200px;
}

.project-names p:nth-child(1)  {
  position: relative;
  top: 105px;
  left: 20px;
  z-index: 1;
  text-align: center;
}

.project-names p:nth-child(2)  {
  position: relative;
  top: 60px;
  left: 244px;
  z-index: 1;
  text-align: center;
}

.project-names p:nth-child(3)  {
  position: relative;
  top: 180px;
  left: 20px;
  z-index: 1;
  text-align: center;
}

.project-names p:nth-child(4)  {
  position: relative;
  top: 134px;
  left: 244px;
  z-index: 1;
  text-align: center;
}

.project-names p:nth-child(5)  {
  position: relative;
  top: 250px;
  left: 20px;
  z-index: 1;
  text-align: center;
}

#projects a:nth-child(1) img  {
  position: relative;
  top: -225px;
  left: 20px;
}
#projects a:nth-child(2)  img {
  position: relative;
  top: -225px;
  left: 40px;
}

#projects a:nth-child(4) img {
  position: relative;
  top: -205px;
  left: 20px;
}

#projects a:nth-child(6) img {
  position: relative;
  top: -205px;
  left: 40px;
}

#projects a:nth-child(8) img {
  position: relative;
  top: -190px;
  left: 20px;
}

#right {
    height: 140px;
    width: 190px;
    text-align: center;
    float: right;
    margin-top: 30px;
    margin-right: 170px;
    background-color: #ffffff;
}

#footer {
  text-align: center;
    position: absolute;
    background-color: #666666;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    bottom:0;
    width: 960px;
    height:65px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-width: 5px;
    border-color: #4aaaa5;
}